<b-container class="content">
  <b-row>  
    <b-col class="content">   
        <h2> Today</h2>
    </b-col>
  </b-row>
  <b-row>  
      <b-col class="content">   
          <div class="item">item</div>
          <!-- <meetingcard></meetingcard> -->
      </b-col>
    </b-row>
  <b-row>
 
  <b-row>  
      <b-col class="content">   
          <h2> Tomorrow</h2>
      </b-col>
    </b-row>
  <b-row>
    <footer>
        <strong class="mode">{{mode}} mode</strong>
    </footer>
  </b-row>
</b-container>
